:root {
    --grid-gap: 20px;
}

.container {
	display: grid;
	grid-template-rows: 150px auto 50px;
	margin: 5px;
    padding: 20px;
	grid-gap: var(--grid-gap);
	background-color: pink; 
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#logo {
	display: flex;
	align-self: flex-start;
}

nav ul {
	display: flex;
	flex-direction: row; 
	list-style-type: none;
}
	nav li {
		margin: 0.5rem;
	}
		nav a {
			display: block;
		}

#tagline {
	display: grid;
	height: 80vh; 
	grid-template-columns: 1fr 1fr 1fr;
}
	#headshot {
		display: flex;
		margin: auto;
	}
	.introtext{
		text-align: center;
		align-self: center;
		padding: 10px; 
	}

#bio { 
	height: 100vh; 
 }

#contact { 
	height: 100vh; 
 }

 .contactinfo ul {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	align-items: flex-end;
	list-style-type: none;
}

#projects {
	display: grid;
	height: 100vh; 
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
}
	.projectstext {
		display: flex;
		margin: auto;
	}
	.techtext{
		text-align: center;
		align-self: center;
		padding: 10px; 
	}

.list ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
}

footer { 
	display: flex; 
	justify-content: center;
 }