* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
	display: grid;
	grid-template-rows: 150px auto 50px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#swlogo {
	display: flex;
	align-self: flex-start;
}

nav ul {
	display: flex;
	flex-direction: row; 
	list-style-type: none;
}
	nav li {
		margin: 0.5rem 0.5rem;
	}
		nav a {
			display: block;
		}

#tagline {
	display: grid;
	min-height: 80vh; 
	grid-template-columns: 1fr 1fr 1fr;
	padding: 5rem;
	grid-gap: 2rem; 
}
	#headshot {
		display: flex;
		margin: auto;
	}
	.introtext{
		text-align: center;
		align-self: center;
		padding: 10px; 
	}

#bio { 
	min-height: 50vh;
	padding: 5rem; 
 }


#projects {
	display: grid;
	min-height: 50vh; 
	padding: 5rem;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
	.projectstext {
		text-align: center;
	}
			.projectstext ul {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: flex-start;
				list-style-type: none;
			}
	.samples {
		display: grid;
		padding: 5rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 5rem;
	}
		.samplestitle {
			grid-column: 1/-1;
		}


#contact { 
	min-height: 50vh;
	align-self: center; 
 }

 .contactinfo ul {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	list-style-type: none;
}

footer { 
	display: flex; 
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-end;
 }

 .Copyright {
	margin-left: 2rem;
}

button{
	display: flex;
	justify-content: center;
}

