.container {
	display: grid;
	grid-template-rows: 100px auto 100px;
	max-width: 50em;
	width: 90%;
}

nav ul {
	display: flex;
	flex-direction: row; 
	list-style-type: none;
}
	nav li {
		margin: 0 0.5em;
	}
		nav a {
			display: block;
		}