* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--blue: #39add1;
}

.container {
	display: grid;
	grid-template-rows: 180px auto 50px;
}

.container > header {
	/*display: flex;
	justify-content: space-between;*/
	display: grid;
	grid-template-columns: .1fr .8fr .1fr;
	border-bottom: 1px solid dimgray;
}

.container > header nav {
	margin-top: 180px; 
	margin-right: 1rem;
	position: absolute;
}

.container > header nav ul {
	background-color: white;
	display: none;
}
.container > header nav ul li {
	margin-top: 1rem;
	list-style: none;
}
.container > header nav ul li a {
	color: var(--blue);
	padding: 0.5rem 1rem;
	text-decoration: none;
}
.container > header nav ul li.active a {
	background-color: var(--blue);
	color: white;
}
.container > header nav ul li:first-child {
	margin-left: 0;
}
.nav-menu {
	border: var(--blue) solid 1px;
	color: var(--blue);
	background-color: white; 
	cursor: pointer;
	padding: 0.5em;
	text-decoration: none; 
}

#intro {
	display: grid;
	min-height: 80vh; 
	grid-template-columns: 1fr 1fr 1fr;
	padding: 5rem;
	grid-gap: 2rem; 
}

	.bio{
		align-self: center;
		padding: 10px; 
	}

	.skills{
		text-align: center;
		align-self: center;
		padding: 10px; 
	}
		.skills ul {
			list-style-type: none; 
		}

#contact { 
	align-self: center; 
 	min-height: 50vh;
 	padding: 5rem; 
 }

 .contactinfo ul {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	list-style-type: none;
	padding: 2rem; 
	border: solid dimgray; 
	border-radius: 10px; 
}
	.examples {
		display: grid;
		padding: 5rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
	}
		.samplestitle {
			grid-column: 1/-1;
		}

		.virtualpets, .fizzbuzz, .reviewsite{ 
			text-align: center;
			border: solid dimgray;
			padding: 5px; 
			border-radius: 10px; 
		}

footer { 
	display: flex; 
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-end;
 }

 .Copyright {
	margin-left: 2rem;
}

 .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }