header {
	background: linear-gradient(to bottom, aliceblue, silver);
}

.img-container {
	display: flex;
	/*align-items: center;*/
	/*justify-content: center;*/
}

#headshot {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	margin: auto;
}

#swlogo {
	height: 150px;
	width: 150px;
}
#linkedinicon, #githubicon, #emailicon{
	height: 150px;
	width: 150px;
}

#arrow {
	height: 50px;
	width: 50px;
}

#dog, #vpa, #reviews, #review, #fizzbuzz {
	height: 350px;
	width: 350px;
	text-align: center; 
	border-radius: 2px; 
}

.container {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	min-height: 100vh;
}

h2 {
	display: flex;
	justify-content: center; 
	margin-bottom: 1rem; 
	font-family: 'Pacifico', serif;
}

h3 {
	display: flex;
	justify-content: center; 
	margin-bottom: 1rem; 
}

h1 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vmin; 
	font-family: 'Sacramento', serif;
}

h4, h5, h6 {
	display: flex;
	justify-content: flex-start;
}

.examples > button{
	text-decoration: none; 
	color: black; 
	padding: .5rem; 
	border-radius: 10%; 
}
.examples > button:hover{
	border: solid #9CAFB7;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.expanded, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
    content: '+'; 
    font-size: 13px;
    color: dimgray;
    float: right;
    margin-left: 5px;
}

.expanded:after {
    content: '-'; 
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.aboutme {
background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}