header {
	background: linear-gradient(to bottom, aliceblue, silver);
}

#headshot {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	text-align: center; 
}

#swlogo {
	height: 200px;
	width: 200px;
}
#linkedinicon, #githubicon, #emailicon{
	height: 150px;
	width: 150px;
}

#arrow {
	height: 50px;
	width: 50px;
}

#dog, #vpa, #reviews, #review, #fizzbuzz {
	height: 350px;
	width: 350px;
	text-align: center; 
	border-radius: 2px; 
}

.container {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	min-height: 100vh;
}

h2 {
	display: flex;
	justify-content: center; 
	margin-bottom: 1rem; 
	font-family: 'Pacifico', serif;
}

h3 {
	display: flex;
	justify-content: center; 
	margin-bottom: 1rem; 
}

h1 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vmin; 
	font-family: 'Sacramento', serif;
}

h4, h5, h6 {
	display: flex;
	justify-content: flex-start;
}

.examples > button{
	text-decoration: none; 
	color: black; 
	padding: .5rem; 
	border-radius: 10%; 
}
.examples > button:hover{
	border: solid #9CAFB7;
}

/* solid background color */
.solid-background {
    background-color: #C0DFD9;
    z-index: -2;
}


:root {
	--blue: #39add1;
}

.container > header {
	align-items: center;
	border-bottom: 1px solid var(--blue);
	display: flex;
	justify-content: space-between;
}
.container > header nav {
	margin-right: 1rem;
	position: relative;
}
.container > header nav ul {
	background-color: white;
	display: none;
	left: -47px;

}
.container > header nav ul li {
	margin-top: 1rem;
}
.container > header nav ul li a {
	color: var(--blue);
	padding: 0.5rem 1rem;
	text-decoration: none;
}
.container > header nav ul li.active a {
	background-color: var(--blue);
	color: white;
}
.container > header nav ul li:first-child {
	margin-left: 0;
}
.nav-menu {
	border: none;
	color: var(--blue);
	background-color: white; 
	cursor: pointer;
	padding: 0.5em;
}




/* fullscreen background image */
.image-background {
    background-color: #E9ECE5;
    background-image: url(../images/galaxy.jpg);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    z-index: -2;
    min-height: 100vh;
}

/* repeating pattern overlay over image or solid color */
[class*='-background'] > .overlay {
    background-image: url(../images/tileable-wood.png);
    background-repeat: repeat;
    height: 105vh;
    left: -5vw;
    margin: 0px;
    position: absolute;
    top: -5vh;
    width: 105vw;
    z-index: -1;
}
